<div class="row">
	<div class="large-12 columns">
		<h4 class="subheader">About IntlPop!</h4>
		<hr>

		<p>IntlPop! is a population simulation program written in collaboration by Virginia Tech and Middlebury. Below, you can find some filler text from my favorite filler text generator, <a href="http://baconipsum.com/?paras=5&type=all-meat&start-with-lorem=1">Bacon Ipsum</a>.</p>

		<p>Bacon ipsum dolor sit amet flank short ribs hamburger, shankle cow tenderloin ham corned beef sirloin meatloaf. T-bone brisket filet mignon, pancetta shank bresaola tail. Jowl prosciutto brisket ribeye shank, short ribs pastrami boudin meatball rump ground round pork belly beef ribs. Chicken pork loin ball tip, sirloin spare ribs meatball andouille strip steak ground round leberkas hamburger tail. Flank frankfurter leberkas bresaola bacon. Kielbasa ribeye sirloin frankfurter, tail bacon jowl spare ribs hamburger venison capicola shankle. Cow turducken pork, venison swine chuck shankle sirloin.</p>

		<p>Sausage meatball rump filet mignon pork, jerky turkey bacon pastrami hamburger. Filet mignon tenderloin ground round, ham hock pork chop turducken bresaola. Ham andouille strip steak capicola spare ribs. Short ribs bacon boudin tri-tip turkey pork chop biltong.</p>

	</div>
</div>