<div class="row">
	<div class="large-12 columns">
		<h4 class="subheader">Simulation</h4>
		<hr>
	</div>

	<div class="large-12 columns">
		<form class="custom">
			<fieldset>
				<legend>Select a Country</legend>

				<div class="row">

					<div class="large-8 columns" onload="initMap()">
						<div id="map" ui-map ui-map-zoom="2" ui-map-center-lat="25.0" ui-map-center-long="0.0"></div>
						<!-- radio selection buttons -->
						<ul class="inline-list">
							<li><label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;" CHECKED><span class="custom radio checked" ng-click="changeLayer('Continents')"></span> Continents</label></li>
							<li><label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio" ng-click="changeLayer('Regions')"></span> Regions</label></li>
							<li><label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio" ng-click="changeLayer('Countries')"></span> Countries</label></li>
						</ul>

					</div>

					<div class="large-4 columns">
						<input type="text" placeholder="search for a country" ng-model="query" />
						<select ng-model="orderProp">
							<option DISABLED value="">-- Sort Criteria --</option>
							<option value="alias">Alphabetical</option>
							<option value="id">Country Code</option>
						</select>
						<select size="20" ng-model="countryId" ng-options="c.id as c.alias for c in countries | filter:query | orderBy:orderProp"></select>

					</div>

				</div>

				<div class="row">

					<div class="large-8 columns">
					</div>

					<div class="large-4 columns">
						<a id="ip-simbutton" ng-click="selectById(901)" class="button small radius">Simulate!</a>
					</div>

				</div>

			</fieldset>
		</form>
	</div>
</div>